#about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#about-section .About {
  margin: 0 2%;
  display: flex;
  justify-content: center;

  .About-info {
    position: relative;
    margin: auto 2% auto 5%;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    .About-info-title {
      font-size: 3.0em;
      color: $secondary;
    }

    .About-info-text {
      font-size: 0.9em;
      color: $secondary;
      padding: 2% 0 5% 0;
      line-height: 1.6;
      align-self: flex-start;
    }

    &::before {
      content:'';
      width:120px;
      height:2px;
      background: #bcbcbc;
      position:absolute;
      top: 25px;
      left:-140px;
    }

    &::after {
      content:'';
      width:40px;
      height:4px;
      background:$designed;
      position:absolute;
      top: 75px;
      left:-60px;
    }
  }
}

.About-image {
  max-width: 500px;
}

@media screen and (max-width: $responsive-breakpoint-MD) {
  #about-section .About .About-info {
    &::before {
      content: '';
      width: 0px;
      height: 0px;
    }

    &::after {
      content:'';
      width: 0px;
      height: 0px;
    }
  }
}



@media screen and (max-width: $responsive-breakpoint-LG) {
  #about-section .About {
    flex-wrap: wrap;

    .About-image {
      margin: 0% 2% 2% 2%;
    }

    .u-btn {
      padding: 0.5% 2.5%;
    }
  }
}

