#home .container {
  padding-top: 150px;
  margin: auto auto;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 5em;
    color: $designed;
    letter-spacing: 12px;
    flex: 2 1 auto;
  }

  button {
    padding: 2% 10%;
    flex: 1 1 auto;
    align-self: flex-start;
    cursor: pointer;
    letter-spacing: 0.1em;

    i {
      font-size: 1.2em;
      padding-left: 16px;
    }
  }
}

.btn-outline-light {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  &:hover {
    background-color: $primary;
    color: $secondary;
    border-color: $secondary;
  }
}

@media screen and (max-width: $responsive-breakpoint-SM) {
  #home .container {
    width: 100%;
    justify-content: start;
    text-align: start;

    h1 {
      font-size: 3.6em;
    }

    button {
      padding: 0.5% 2.5%;
    }
  }
}

