#home .HomePanel {
  padding-top: 150px;
  margin: auto auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .HomePanel-title {
    margin-bottom: 2%;
    font-size: 5em;
    color: $designed;
    letter-spacing: 12px;
  }

  .u-btn {
    padding: 2% 10%;

    i {
      font-size: 1.2em;
      padding-left: 16px;
    }
  }
}



@media screen and (max-width: $responsive-breakpoint-SM) {
  #home .HomePanel {
    width: 100%;
    justify-content: center;
    text-align: center;

    .HomePanel-title {
      font-size: 3.7em;
    }

    .u-btn {
      padding: 2% 5%;
      align-self: center;
    }
  }
}