
#showcase-section {
  background: url(../img/showcase-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  outline: 1px solid $designed;
  outline-offset: -75px;
}



#showcase-section .Showcase {
  padding-top: 150px;
  margin: auto 0 auto 25%;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Showcase-playButtonDecoration {
    position: absolute;
    right: 2%;
    top:0;
    height: 700px;
    width: 700px;
    opacity: 0.05;
  }

  .Showcase-info {
    position: relative;

    &::before {
      content:'';
      width:120px;
      height:2px;
      background: #bcbcbc;
      position:absolute;
      top: 15px;
      left:-140px;
    }

    &::after {
      content:'';
      width:40px;
      height:4px;
      background:$designed;
      position:absolute;
      top: 125px;
      left: -60px;
    }
  }


  .Showcase-info-title {
    font-size: 2.5em;
    color: $designed;
  }

  .Showcase-info-text {
    font-size: 0.9em;
    line-height: 1.6;
    text-align: justify;
    padding: 5% 0 10% 0;
  }

}


@media screen and (max-width: $responsive-breakpoint-MD) {
  #showcase-section {
    outline-offset: 0px;

    .Showcase {
      margin: auto auto;

      .Showcase-info{
        &::before {
          content: '';
          width: 0px;
          height: 0px;
        }

        &::after {
          content: '';
          width: 0px;
          height: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: $responsive-breakpoint-SM) {
  #showcase-section .Showcase {
    width: 100%;
    margin: 0 2%;

    .Showcase-info-title {
      font-size: 2em;
    }
    .Showcase-info-text {
      text-align: start;
    }
  }
}