#home .container {
  padding-top: 150px;
  margin: auto auto;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #home .container h1 {
    font-size: 5em;
    color: #bea67c;
    letter-spacing: 12px;
    flex: 2 1 auto; }
  #home .container button {
    padding: 2% 10%;
    flex: 1 1 auto;
    align-self: flex-start;
    cursor: pointer;
    letter-spacing: 0.1em; }
    #home .container button i {
      font-size: 1.2em;
      padding-left: 16px; }

.btn-outline-light {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
    border-color: #000; }

@media screen and (max-width: 576px) {
  #home .container {
    width: 100%;
    justify-content: start;
    text-align: start; }
    #home .container h1 {
      font-size: 3.6em; }
    #home .container button {
      padding: 0.5% 2.5%; } }

#products-section .container-furniture {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #products-section .container-furniture .product-box {
    position: relative;
    margin: 0 2%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #products-section .container-furniture .product-box .product-title {
      font-size: 3.5em;
      color: #000; }
    #products-section .container-furniture .product-box .product-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 20% 5% 0;
      text-align: justify; }
    #products-section .container-furniture .product-box button {
      padding: 2% 10% 2% 2%;
      cursor: pointer;
      letter-spacing: 0.1em;
      align-self: flex-start; }
    #products-section .container-furniture .product-box::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 25px;
      left: -140px; }
    #products-section .container-furniture .product-box::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 80px;
      left: -60px; }

#products-section .container-decor {
  padding-top: 3%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #products-section .container-decor .product-box {
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }
    #products-section .container-decor .product-box .product-title {
      font-size: 3.5em;
      color: #000;
      align-self: flex-end; }
    #products-section .container-decor .product-box .product-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 0 5% 20%;
      text-align: justify;
      text-align-last: right; }
    #products-section .container-decor .product-box button {
      padding: 2% 2% 2% 10%;
      cursor: pointer;
      letter-spacing: 0.1em;
      align-self: flex-end; }
    #products-section .container-decor .product-box::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 25px;
      right: -140px; }
    #products-section .container-decor .product-box::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 80px;
      right: -60px; }

.btn-outline-dark {
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 2px solid #bea67c;
  transition: color .15s ease-in-out, background-color .15s ease-in-out; }
  .btn-outline-dark:hover {
    background-color: #000;
    color: #fff; }

.product-image-box {
  max-width: 500px; }
  .product-image-box .product-image {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
    box-shadow: 0 0 20px #333; }

@media screen and (max-width: 768px) {
  #products-section .container-furniture {
    flex-wrap: wrap; }
    #products-section .container-furniture .product-box {
      margin: 2% 2%; }
    #products-section .container-furniture .product-image-box {
      margin: 2% 2%; }
    #products-section .container-furniture button {
      padding: 0.5% 2.5%; }
  #products-section .container-decor {
    flex-wrap: wrap; }
    #products-section .container-decor .product-box {
      order: 1;
      margin: 2% 2%; }
      #products-section .container-decor .product-box::before {
        content: '';
        width: 0;
        height: 0; }
      #products-section .container-decor .product-box::after {
        content: '';
        width: 0;
        height: 0; }
    #products-section .container-decor .product-image-box {
      order: 2;
      margin: 2% 2%; }
    #products-section .container-decor button {
      padding: 0.5% 2.5%; } }

@media screen and (max-width: 576px) {
  #products-section .container-decor .product-box {
    order: 1;
    margin: 2% 2%; }
    #products-section .container-decor .product-box .product-text {
      padding: 5% 0%; }
  #products-section .container-decor .product-image-box {
    order: 2;
    margin: 2% 2%; } }

#videos-section .container {
  position: relative;
  max-width: 700px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #videos-section .container .main-title {
    font-size: 3.5em;
    letter-spacing: 2px;
    color: #000; }
  #videos-section .container .main-text {
    font-size: 0.9em;
    color: #000;
    padding: 20px 10%;
    text-align: justify;
    text-align-last: center; }
  #videos-section .container::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #bea67c;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0); }

#videos-section .container-videos {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #videos-section .container-videos .video {
    position: relative;
    margin: 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #videos-section .container-videos .video img {
      background-color: #fff;
      border-radius: 50%;
      padding: 6px;
      border: 1px solid #bcbcbc;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
      #videos-section .container-videos .video img:hover {
        background-color: #bea67c;
        border: 1px solid #bea67c; }
    #videos-section .container-videos .video .video-info {
      margin: 2% 0;
      padding: 10% 0;
      font-size: 1em;
      color: #000; }
    #videos-section .container-videos .video::after {
      content: '';
      width: 40px;
      height: 2px;
      background: #bea67c;
      position: absolute;
      left: 50%;
      bottom: 60px;
      transform: translate(-50%, 0); }

@media screen and (max-width: 992px) {
  #videos-section .container-videos {
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  #videos-section .container {
    flex-wrap: wrap; }
    #videos-section .container .main-title {
      text-align: center;
      font-size: 2.5em; }
    #videos-section .container::after {
      top: 50px; } }

@media screen and (max-width: 500px) {
  #videos-section .container::after {
    content: '';
    width: 0;
    height: 0; } }

#showcase-section {
  background: url(/src/img/showcase-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  outline: 1px solid #bea67c;
  outline-offset: -75px; }

svg.video-overlay-play-button {
  position: absolute;
  right: 2%;
  top: 0;
  height: 700px;
  width: 700px;
  opacity: 0.05; }

#showcase-section .container {
  padding-top: 150px;
  margin: auto 0 auto 25%;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #showcase-section .container .video-container {
    position: relative; }
    #showcase-section .container .video-container::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #bcbcbc;
      position: absolute;
      top: 15px;
      left: -140px; }
    #showcase-section .container .video-container::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 125px;
      left: -60px; }
  #showcase-section .container h2 {
    font-size: 2.5em;
    color: #bea67c; }
  #showcase-section .container p {
    font-size: 0.9em;
    line-height: 1.6;
    text-align: justify;
    padding: 5% 0 10% 0; }
  #showcase-section .container a {
    padding: 2% 10%;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-decoration: none; }

@media screen and (max-width: 768px) {
  #showcase-section {
    outline-offset: 0px; }
    #showcase-section .container {
      margin: auto auto; }
      #showcase-section .container .video-container::before {
        content: '';
        width: 0px;
        height: 0px; }
      #showcase-section .container .video-container::after {
        content: '';
        width: 0px;
        height: 0px; } }

@media screen and (max-width: 576px) {
  #showcase-section .container {
    width: 100%;
    margin: 0 2%; }
    #showcase-section .container h2 {
      font-size: 2em; }
    #showcase-section .container p {
      text-align: start; } }

#about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(/src/img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

#about-section .container {
  margin: 0 2%;
  display: flex;
  justify-content: center; }
  #about-section .container .about-box {
    position: relative;
    margin: auto 2% auto 5%;
    max-width: 500px;
    display: flex;
    flex-direction: column; }
    #about-section .container .about-box .about-title {
      font-size: 3.0em;
      color: #000; }
    #about-section .container .about-box .about-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 0 5% 0;
      line-height: 1.6;
      align-self: flex-start; }
    #about-section .container .about-box button {
      padding: 2% 10% 2% 2%;
      cursor: pointer;
      letter-spacing: 0.1em;
      align-self: flex-start; }
    #about-section .container .about-box::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #bcbcbc;
      position: absolute;
      top: 25px;
      left: -140px; }
    #about-section .container .about-box::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 75px;
      left: -60px; }

.about-image-box {
  max-width: 500px; }
  .about-image-box .about-image {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
    box-shadow: 0 0 20px #333; }

@media screen and (max-width: 768px) {
  #about-section .container .about-box::before {
    content: '';
    width: 0px;
    height: 0px; }
  #about-section .container .about-box::after {
    content: '';
    width: 0px;
    height: 0px; } }

@media screen and (max-width: 992px) {
  #about-section .container {
    flex-wrap: wrap; }
    #about-section .container .about-image-box {
      margin: 0% 2% 2% 2%; }
    #about-section .container button {
      padding: 0.5% 2.5%; } }

#main-footer {
  background-color: #000; }

#main-footer .container {
  display: flex;
  justify-content: space-around;
  padding: 15px 0; }
  #main-footer .container p {
    opacity: 0.8; }

@media screen and (max-width: 576px) {
  footer#main-footer .container {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; }
    footer#main-footer .container .footer-text {
      padding: 2px 0;
      order: 2; }
    footer#main-footer .container .footer-logo {
      order: 1; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #fff;
  font-family: 'Ubuntu', sans-serif; }

#main-header {
  background: url(/src/img/top-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }

nav {
  padding: 8px; }

nav #hamburger {
  display: none; }

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px; }

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none; }

nav ul {
  float: right; }

nav ul li {
  display: inline-block;
  float: left; }

nav ul li:not(:first-child) {
  margin-left: 48px; }

nav ul li:last-child {
  margin-right: 24px; }

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600; }

@media screen and (max-width: 864px) {
  .logo {
    padding: 0; }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease; }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px; }
  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s; }
  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s; }
  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s; }
  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s; }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0; }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease; }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%; }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px; }
  .nav-btn i:nth-child(1) {
    margin-top: 16px; }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1; }
  .nav-btn i:nth-child(3) {
    margin-top: 4px; } }

#nav:checked + .nav-btn {
  transform: rotate(45deg); }

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease; }

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg); }

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0; }

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg); }

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1; }

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0); }

.hidden {
  display: none; }
