* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #fff;
  font-family: 'Ubuntu', sans-serif; }

.u-btn {
  padding: 2% 10% 2% 2%;
  cursor: pointer;
  letter-spacing: 0.1em;
  align-self: flex-start; }

.u-btnOutlineDark {
  font-weight: 900;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 2px solid #bea67c;
  transition: all 0.25s ease-in-out; }
  .u-btnOutlineDark:hover {
    background-color: #000;
    color: #fff; }
  .u-btnOutlineDark:focus {
    outline: 0;
    box-shadow: none; }

.u-styleImage {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  box-shadow: 0 0 20px #333; }

.u-link {
  padding: 2% 10%;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-decoration: none; }

.u-linkOutlineLight {
  font-weight: 900;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; }
  .u-linkOutlineLight:hover {
    background-color: #fff;
    color: #000;
    border-color: #000; }
  .u-linkOutlineLight:focus {
    outline: 0;
    box-shadow: none; }

#main-header {
  background: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px; }

#main-header .Navigation {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center; }
  #main-header .Navigation .Navigation-logo a {
    text-decoration: none; }
  #main-header .Navigation .Navigation-hamburger-btn i {
    align-self: flex-end;
    display: none; }
  #main-header .Navigation .Navigation-wrapper {
    cursor: pointer; }
  #main-header .Navigation ul li {
    display: inline-block;
    margin-left: 56px; }
    #main-header .Navigation ul li:last-child {
      margin-right: 36px; }
    #main-header .Navigation ul li label {
      cursor: pointer; }
    #main-header .Navigation ul li a {
      color: #fff;
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 600; }

@media screen and (max-width: 864px) {
  #main-header .Navigation .Navigation-hamburger-btn {
    display: block;
    position: absolute;
    right: 24px;
    top: 12px;
    cursor: pointer;
    z-index: 9999; }
  #main-header .Navigation .Navigation-hamburger-btn i {
    display: block;
    margin-left: 14px; }
  #main-header .Navigation .Navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease; }
  #main-header .Navigation .Navigation-wrapper ul {
    position: absolute;
    margin-top: 36px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
  #main-header .Navigation .Navigation-wrapper ul li {
    width: 100%;
    text-align: right;
    margin-bottom: 10px; }
  #main-header .Navigation .Navigation-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s; }
  #main-header .Navigation .Navigation-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s; }
  #main-header .Navigation .Navigation-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s; }
  #main-header .Navigation .Navigation-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s; }
  #main-header .Navigation .Navigation-wrapper ul li:nth-child(5) a {
    transition-delay: 0.6s; }
  #main-header .Navigation .Navigation-wrapper ul li {
    margin-left: 0; }
  #main-header .Navigation .Navigation-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out; } }

#hamburger:checked + .Navigation-hamburger-btn {
  position: fixed; }

#hamburger:checked + .Navigation-hamburger-btn i {
  color: #000;
  background: #fff;
  transition: transform 0.3s ease-in-out; }

#hamburger:checked + .Navigation-hamburger-btn i:nth-child(1) {
  transform: rotate(180deg); }

#hamburger:checked ~ .Navigation-wrapper {
  z-index: 9990;
  opacity: 1; }

#hamburger:checked ~ .Navigation-wrapper ul li a {
  opacity: 1;
  transform: translateX(0); }

#hamburger:checked ~ .Navigation-wrapper label {
  cursor: pointer; }

.Navigation-hamburger--hidden {
  display: none; }

#home .HomePanel {
  padding-top: 150px;
  margin: auto auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #home .HomePanel .HomePanel-title {
    margin-bottom: 2%;
    font-size: 5em;
    color: #bea67c;
    letter-spacing: 12px; }
  #home .HomePanel .u-btn {
    padding: 2% 10%; }
    #home .HomePanel .u-btn i {
      font-size: 1.2em;
      padding-left: 16px; }

@media screen and (max-width: 576px) {
  #home .HomePanel {
    width: 100%;
    justify-content: center;
    text-align: center; }
    #home .HomePanel .HomePanel-title {
      font-size: 3.7em; }
    #home .HomePanel .u-btn {
      padding: 2% 5%;
      align-self: center; } }

#products-section .Furniture {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #products-section .Furniture .Furniture-info {
    position: relative;
    margin: 0 2%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #products-section .Furniture .Furniture-info .Furniture-info-title {
      font-size: 3.5em;
      color: #000; }
    #products-section .Furniture .Furniture-info .Furniture-info-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 20% 5% 0;
      text-align: justify; }
    #products-section .Furniture .Furniture-info::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 25px;
      left: -140px; }
    #products-section .Furniture .Furniture-info::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 80px;
      left: -60px; }
  #products-section .Furniture .Furniture-image {
    max-width: 500px; }

#products-section .Decor {
  padding-top: 3%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #products-section .Decor .Decor-info {
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }
    #products-section .Decor .Decor-info .Decor-info-title {
      font-size: 3.5em;
      color: #000;
      align-self: flex-end; }
    #products-section .Decor .Decor-info .Decor-info-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 0 5% 20%;
      text-align: justify;
      text-align-last: right; }
    #products-section .Decor .Decor-info::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 25px;
      right: -140px; }
    #products-section .Decor .Decor-info::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 80px;
      right: -60px; }
  #products-section .Decor .Decor-image {
    max-width: 500px; }
  #products-section .Decor .u-btn {
    align-self: flex-end; }

@media screen and (max-width: 1300px) {
  #products-section .Furniture .Furniture-info::before {
    content: '';
    width: 0;
    height: 0; }
  #products-section .Furniture .Furniture-info::after {
    content: '';
    width: 0;
    height: 0; }
  #products-section .Decor .Decor-info::before {
    content: '';
    width: 0;
    height: 0; }
  #products-section .Decor .Decor-info::after {
    content: '';
    width: 0;
    height: 0; } }

@media screen and (max-width: 768px) {
  #products-section .Furniture {
    flex-wrap: wrap; }
    #products-section .Furniture .Furniture-info {
      margin: 2% 2%; }
    #products-section .Furniture .Furniture-image {
      margin: 2% 2%; }
    #products-section .Furniture .u-btn {
      padding: 1% 5%; }
  #products-section .Decor {
    flex-wrap: wrap; }
    #products-section .Decor .Decor-info {
      order: 1;
      margin: 2% 2%; }
    #products-section .Decor .Decor-image {
      order: 2;
      margin: 2% 2%; }
    #products-section .Decor .u-btn {
      padding: 1% 5%; } }

@media screen and (max-width: 576px) {
  #products-section .Decor .Decor-info {
    order: 1;
    margin: 2% 2%; }
    #products-section .Decor .Decor-info .Decor-info-text {
      padding: 5% 0%; }
  #products-section .Decor .Decor-image {
    order: 2;
    margin: 2% 2%; } }

#videos-section .VideoGalleryInfo {
  position: relative;
  max-width: 700px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #videos-section .VideoGalleryInfo .VideoGalleryInfo-title {
    font-size: 3.5em;
    letter-spacing: 2px;
    color: #000; }
  #videos-section .VideoGalleryInfo .VideoGalleryInfo-text {
    font-size: 0.9em;
    color: #000;
    padding: 20px 10%;
    text-align: justify;
    text-align-last: center; }
  #videos-section .VideoGalleryInfo::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #bea67c;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0); }

#videos-section .VideoGallery {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #videos-section .VideoGallery .VideoGallery-video {
    position: relative;
    margin: 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #videos-section .VideoGallery .VideoGallery-video .VideoGallery-video-poster {
      background-color: #fff;
      border-radius: 50%;
      padding: 6px;
      border: 1px solid #bcbcbc;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }
      #videos-section .VideoGallery .VideoGallery-video .VideoGallery-video-poster:hover {
        background-color: #bea67c;
        border: 1px solid #bea67c; }
    #videos-section .VideoGallery .VideoGallery-video .VideoGallery-video-text {
      margin: 2% 0;
      padding: 10% 0;
      font-size: 1em;
      color: #000; }
    #videos-section .VideoGallery .VideoGallery-video::after {
      content: '';
      width: 40px;
      height: 2px;
      background: #bea67c;
      position: absolute;
      left: 50%;
      bottom: 60px;
      transform: translate(-50%, 0); }

@media screen and (max-width: 992px) {
  #videos-section .VideoGallery {
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  #videos-section .VideoGalleryInfo {
    flex-wrap: wrap; }
    #videos-section .VideoGalleryInfo .VideoGalleryInfo-title {
      text-align: center;
      font-size: 2.5em; }
    #videos-section .VideoGalleryInfo::after {
      top: 50px; } }

@media screen and (max-width: 500px) {
  #videos-section .VideoGalleryInfo::after {
    content: '';
    width: 0;
    height: 0; } }

#showcase-section {
  background: url(../img/showcase-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  outline: 1px solid #bea67c;
  outline-offset: -75px; }

#showcase-section .Showcase {
  padding-top: 150px;
  margin: auto 0 auto 25%;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #showcase-section .Showcase .Showcase-playButtonDecoration {
    position: absolute;
    right: 2%;
    top: 0;
    height: 700px;
    width: 700px;
    opacity: 0.05; }
  #showcase-section .Showcase .Showcase-info {
    position: relative; }
    #showcase-section .Showcase .Showcase-info::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #bcbcbc;
      position: absolute;
      top: 15px;
      left: -140px; }
    #showcase-section .Showcase .Showcase-info::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 125px;
      left: -60px; }
  #showcase-section .Showcase .Showcase-info-title {
    font-size: 2.5em;
    color: #bea67c; }
  #showcase-section .Showcase .Showcase-info-text {
    font-size: 0.9em;
    line-height: 1.6;
    text-align: justify;
    padding: 5% 0 10% 0; }

@media screen and (max-width: 768px) {
  #showcase-section {
    outline-offset: 0px; }
    #showcase-section .Showcase {
      margin: auto auto; }
      #showcase-section .Showcase .Showcase-info::before {
        content: '';
        width: 0px;
        height: 0px; }
      #showcase-section .Showcase .Showcase-info::after {
        content: '';
        width: 0px;
        height: 0px; } }

@media screen and (max-width: 576px) {
  #showcase-section .Showcase {
    width: 100%;
    margin: 0 2%; }
    #showcase-section .Showcase .Showcase-info-title {
      font-size: 2em; }
    #showcase-section .Showcase .Showcase-info-text {
      text-align: start; } }

#about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

#about-section .About {
  margin: 0 2%;
  display: flex;
  justify-content: center; }
  #about-section .About .About-info {
    position: relative;
    margin: auto 2% auto 5%;
    max-width: 500px;
    display: flex;
    flex-direction: column; }
    #about-section .About .About-info .About-info-title {
      font-size: 3.0em;
      color: #000; }
    #about-section .About .About-info .About-info-text {
      font-size: 0.9em;
      color: #000;
      padding: 2% 0 5% 0;
      line-height: 1.6;
      align-self: flex-start; }
    #about-section .About .About-info::before {
      content: '';
      width: 120px;
      height: 2px;
      background: #bcbcbc;
      position: absolute;
      top: 25px;
      left: -140px; }
    #about-section .About .About-info::after {
      content: '';
      width: 40px;
      height: 4px;
      background: #bea67c;
      position: absolute;
      top: 75px;
      left: -60px; }

.About-image {
  max-width: 500px; }

@media screen and (max-width: 768px) {
  #about-section .About .About-info::before {
    content: '';
    width: 0px;
    height: 0px; }
  #about-section .About .About-info::after {
    content: '';
    width: 0px;
    height: 0px; } }

@media screen and (max-width: 992px) {
  #about-section .About {
    flex-wrap: wrap; }
    #about-section .About .About-image {
      margin: 0% 2% 2% 2%; }
    #about-section .About .u-btn {
      padding: 0.5% 2.5%; } }

#main-footer {
  background-color: #000; }

#main-footer .Footer {
  display: flex;
  justify-content: space-around;
  padding: 15px 0; }
  #main-footer .Footer .Footer-text {
    opacity: 0.8; }

@media screen and (max-width: 576px) {
  footer#main-footer .Footer {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; }
    footer#main-footer .Footer .Footer-text {
      padding: 2px 0;
      order: 2; }
    footer#main-footer .Footer .Footer-logo {
      order: 1; } }
